name: Retrain Model

on:
  push:
    branches:
      - main  
  workflow_dispatch:
jobs:
  retrain:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Run retrain script
        run: |
          python app/ml/retrain_model.py
      - name: Upload model artifact
        uses: actions/upload-artifact@v4
        with:
          name: sales_model
          path: app/models/sales_model.pkl
